// .searchArea {
//   max-width: 255px;
// }

.searchSelect {
  max-width: 255px;
}

.cardImg {
  min-height: 180px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardDescription {
  min-height: 144px;
}